body {
    background-color: white;
    color: black;
}



#aside {
    padding-top: 30px;
    padding-left: 10px;
}

.NavSection {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin: 20px auto;
    width: 97.5%;
    height: 50px;

}

.ParentContainerFlexBox {

    display: flex;
    justify-content: space-evenly;

}

.ChildContainerFlexBox {

    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 48%;



}

#middleLeftSideImageCss {
    display: block;
    margin: auto;
}

#submit-button-css {

    display: block;
    margin-top: 20px;
}

.darkModeButtonPosition {
    float: right;
    margin: 15px;
    color: white;
    background-color: black;

}

.darkMode {
    background-color: black;
    color: white;
}
